<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>humanresourcemanagementsystem</display-name>
     <servlet>
    	<description>
    	</description>
    	<display-name>ManageStaffServlet</display-name>
    	<servlet-name>ManageStaffServlet</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.ManageStaffServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>AddStaffServlet</display-name>
    	<servlet-name>AddStaffServlet</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.AddStaffServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>GetStaffFormServlet</display-name>
    	<servlet-name>GetStaffFormServlet</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.GetStaffFormServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>UpdateStaffServlet</display-name>
    	<servlet-name>UpdateStaffServlet</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.UpdateStaffServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>RemoveStaffServlet</display-name>
    	<servlet-name>RemoveStaffServlet</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.RemoveStaffServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ManageReportServlet</display-name>
    	<servlet-name>ManageReportServlet</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.ManageReportServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>AddReportServlet</display-name>
    	<servlet-name>AddReportServlet</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.AddReportServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>EditReportTypeServlet</display-name>
    	<servlet-name>EditReportTypeServlet</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.EditReportTypeServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>UpdateReportTypeServlet</display-name>
    	<servlet-name>UpdateReportTypeServlet</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.UpdateReportTypeServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>RemoveReportTypeServlet</display-name>
    	<servlet-name>RemoveReportTypeServlet</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.RemoveReportTypeServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ManageNotificationServlet</display-name>
    	<servlet-name>ManageNotificationServlet</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.ManageNotificationServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ViewReportServlet</display-name>
    	<servlet-name>ViewReportServlet</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.ViewReportServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>UpdateReportServlet</display-name>
    	<servlet-name>UpdateReportServlet</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.UpdateReportServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>RemoveReportServlet</display-name>
    	<servlet-name>RemoveReportServlet</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.RemoveReportServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>AddReportEvaluationServlet</display-name>
    	<servlet-name>AddReportEvaluationServlet</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.AddReportEvaluationServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>AddNotificationServlet</display-name>
    	<servlet-name>AddNotificationServlet</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.AddNotificationServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>RemoveNotificationServlet</display-name>
    	<servlet-name>RemoveNotificationServlet</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.RemoveNotificationServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>UpdateNotificationServlet</display-name>
    	<servlet-name>UpdateNotificationServlet</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.UpdateNotificationServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>EditNotificationFormServlet</display-name>
    	<servlet-name>EditNotificationFormServlet</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.EditNotificationFormServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ManageContractServlet</display-name>
    	<servlet-name>ManageContractServlet</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.ManageContractServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>AddContractServlet</display-name>
    	<servlet-name>AddContractServlet</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.AddContractServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>RemoveContractServlet</display-name>
    	<servlet-name>RemoveContractServlet</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.RemoveContractServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>AddContractTypeServlet</display-name>
    	<servlet-name>AddContractTypeServlet</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.AddContractTypeServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ManageContractTypeServlet</display-name>
    	<servlet-name>ManageContractTypeServlet</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.ManageContractTypeServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>RemoveContractTypeServlet</display-name>
    	<servlet-name>RemoveContractTypeServlet</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.RemoveContractTypeServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>DownloadContracttypeFile</display-name>
    	<servlet-name>DownloadContracttypeFile</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.DownloadContracttypeFile</servlet-class>
    </servlet>
   
    <servlet>
    	<description>
    	</description>
    	<display-name>UploadContractFileServlet</display-name>
    	<servlet-name>UploadContractFileServlet</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.UploadContractFileServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ViewNotificationServlet</display-name>
    	<servlet-name>ViewNotificationServlet</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.ViewNotificationServlet</servlet-class>
    </servlet>
  
    <servlet>
    	<description>
    	</description>
    	<display-name>DownloadContractFileServlet</display-name>
    	<servlet-name>DownloadContractFileServlet</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.DownloadContractFileServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>EditContractTypeFormServlet</display-name>
    	<servlet-name>EditContractTypeFormServlet</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.EditContractTypeFormServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>UpdateContractServlet</display-name>
    	<servlet-name>UpdateContractServlet</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.UpdateContractServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>UploadReportTypeServlet02</display-name>
    	<servlet-name>UploadReportTypeServlet02</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.UploadReportTypeServlet02</servlet-class>
    </servlet>
     <servlet>
    	<description>
    	</description>
    	<display-name>UploadContractTypeFileServlet02</display-name>
    	<servlet-name>UploadContractTypeFileServlet02</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.UploadReportTypeServlet02</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>CreateAdminSignServlet</display-name>
    	<servlet-name>CreateAdminSignServlet</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.CreateAdminSignServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>SaveSignatureImageServlet</display-name>
    	<servlet-name>SaveSignatureImageServlet</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.SaveSignatureImageServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ManageSignatureServlet</display-name>
    	<servlet-name>ManageSignatureServlet</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.ManageSignatureServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ManageDepartmentServlet</display-name>
    	<servlet-name>ManageDepartmentServlet</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.ManageDepartmentServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>AddDepartmentServlet</display-name>
    	<servlet-name>AddDepartmentServlet</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.AddDepartmentServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>RemoveDepartmentServlet</display-name>
    	<servlet-name>RemoveDepartmentServlet</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.RemoveDepartmentServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>NewStaffFormServlet</display-name>
    	<servlet-name>NewStaffFormServlet</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.NewStaffFormServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>UpdateStaffDepartmentServlet</display-name>
    	<servlet-name>UpdateStaffDepartmentServlet</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.UpdateStaffDepartmentServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ManageAttendanceServlet</display-name>
    	<servlet-name>ManageAttendanceServlet</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.ManageAttendanceServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ManageEmployeeFeeServlet</display-name>
    	<servlet-name>ManageEmployeeFeeServlet</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.ManageEmployeeFeeServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ViewDetailedEmployeeFee</display-name>
    	<servlet-name>ViewDetailedEmployeeFee</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.ViewDetailedEmployeeFee</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>UpdateEmployeeFeeServlet</display-name>
    	<servlet-name>UpdateEmployeeFeeServlet</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.UpdateEmployeeFeeServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>DownloadAdminSignServlet</display-name>
    	<servlet-name>DownloadAdminSignServlet</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.DownloadAdminSignServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>DownloadStaffSignServlet</display-name>
    	<servlet-name>DownloadStaffSignServlet</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.DownloadStaffSignServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>LoginServlet</display-name>
    	<servlet-name>LoginServlet</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>AuthenticationService</display-name>
    	<servlet-name>AuthenticationService</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.service.AuthenticationService</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>StaffStartWorkingServlet</display-name>
    	<servlet-name>StaffStartWorkingServlet</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.StartWorkingServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>StaffEndWorkingServlet</display-name>
    	<servlet-name>StaffEndWorkingServlet</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.EndWorkingServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>StaffViewNotificationServlet</display-name>
    	<servlet-name>StaffViewNotificationServlet</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.StaffViewNotificationServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>SearchStaffServlet</display-name>
    	<servlet-name>SearchStaffServlet</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.SearchStaffServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>UploadContractFileFormServlet</display-name>
    	<servlet-name>UploadContractFileFormServlet</servlet-name>
    	<servlet-class>sad.humanresourcemanagementsystem.servlet.UploadContractFileFormServlet</servlet-class>
    </servlet>
     <servlet-mapping>
    	<servlet-name>ManageStaffServlet</servlet-name>
    	<url-pattern>/ManageStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AddStaffServlet</servlet-name>
    	<url-pattern>/AddStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>GetStaffFormServlet</servlet-name>
    	<url-pattern>/GetStaffFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>UpdateStaffServlet</servlet-name>
    	<url-pattern>/UpdateStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>RemoveStaffServlet</servlet-name>
    	<url-pattern>/RemoveStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ManageReportServlet</servlet-name>
    	<url-pattern>/ManageReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AddReportServlet</servlet-name>
    	<url-pattern>/AddReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>EditReportTypeServlet</servlet-name>
    	<url-pattern>/EditReportTypeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>UpdateReportTypeServlet</servlet-name>
    	<url-pattern>/UpdateReportTypeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>RemoveReportTypeServlet</servlet-name>
    	<url-pattern>/RemoveReportTypeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ManageNotificationServlet</servlet-name>
    	<url-pattern>/ManageNotificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ViewReportServlet</servlet-name>
    	<url-pattern>/ViewReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>UpdateReportServlet</servlet-name>
    	<url-pattern>/UpdateReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>RemoveReportServlet</servlet-name>
    	<url-pattern>/RemoveReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AddReportEvaluationServlet</servlet-name>
    	<url-pattern>/AddReportEvaluationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AddNotificationServlet</servlet-name>
    	<url-pattern>/AddNotificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>RemoveNotificationServlet</servlet-name>
    	<url-pattern>/RemoveNotificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>UpdateNotificationServlet</servlet-name>
    	<url-pattern>/UpdateNotificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>EditNotificationFormServlet</servlet-name>
    	<url-pattern>/EditNotificationFormServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
    	<servlet-name>ManageContractServlet</servlet-name>
    	<url-pattern>/ManageContractServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AddContractServlet</servlet-name>
    	<url-pattern>/AddContractServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>RemoveContractServlet</servlet-name>
    	<url-pattern>/RemoveContractServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AddContractTypeServlet</servlet-name>
    	<url-pattern>/AddContractTypeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ManageContractTypeServlet</servlet-name>
    	<url-pattern>/ManageContractTypeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>RemoveContractTypeServlet</servlet-name>
    	<url-pattern>/RemoveContractTypeServlet</url-pattern>
    </servlet-mapping>
    
   
    <servlet-mapping>
    	<servlet-name>DownloadContracttypeFile</servlet-name>
    	<url-pattern>/DownloadContracttypeFile</url-pattern>
    </servlet-mapping>
    
    
    <servlet-mapping>
    	<servlet-name>UploadContractFileServlet</servlet-name>
    	<url-pattern>/UploadContractFileServlet</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
    	<servlet-name>UploadContractTypeFileServlet02</servlet-name>
    	<url-pattern>/UploadContractTypeFileServlet02</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ViewNotificationServlet</servlet-name>
    	<url-pattern>/ViewNotificationServlet</url-pattern>
    </servlet-mapping>
   
    <servlet-mapping>
    	<servlet-name>DownloadContractFileServlet</servlet-name>
    	<url-pattern>/DownloadContractFileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>EditContractTypeFormServlet</servlet-name>
    	<url-pattern>/EditContractTypeFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>UpdateContractServlet</servlet-name>
    	<url-pattern>/UpdateContractServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
    	<servlet-name>CreateAdminSignServlet</servlet-name>
    	<url-pattern>/CreateAdminSignServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>SaveSignatureImageServlet</servlet-name>
    	<url-pattern>/SaveSignatureImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ManageSignatureServlet</servlet-name>
    	<url-pattern>/ManageSignatureServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ManageDepartmentServlet</servlet-name>
    	<url-pattern>/ManageDepartmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AddDepartmentServlet</servlet-name>
    	<url-pattern>/AddDepartmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>RemoveDepartmentServlet</servlet-name>
    	<url-pattern>/RemoveDepartmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>NewStaffFormServlet</servlet-name>
    	<url-pattern>/NewStaffFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>UpdateStaffDepartmentServlet</servlet-name>
    	<url-pattern>/UpdateStaffDepartmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ManageAttendanceServlet</servlet-name>
    	<url-pattern>/ManageAttendanceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ManageEmployeeFeeServlet</servlet-name>
    	<url-pattern>/ManageEmployeeFeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ViewDetailedEmployeeFee</servlet-name>
    	<url-pattern>/ViewDetailedEmployeeFee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>UpdateEmployeeFeeServlet</servlet-name>
    	<url-pattern>/UpdateEmployeeFeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>DownloadAdminSignServlet</servlet-name>
    	<url-pattern>/DownloadAdminSignServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>DownloadStaffSignServlet</servlet-name>
    	<url-pattern>/DownloadStaffSignServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>LoginServlet</servlet-name>
    	<url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AuthenticationService</servlet-name>
    	<url-pattern>/AuthenticationService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
   		 <servlet-name>StaffStartWorkingServlet</servlet-name>
    	<url-pattern>/StaffStartWorkingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
   		 <servlet-name>StaffEndWorkingServlet</servlet-name>
    	<url-pattern>/StaffEndWorkingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>StaffViewNotificationServlet</servlet-name>
    	<url-pattern>/StaffViewNotificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>SearchStaffServlet</servlet-name>
    	<url-pattern>/SearchStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>UploadContractFileFormServlet</servlet-name>
    	<url-pattern>/UploadContractFileFormServlet</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
        <context-param>
        <param-name>jdbcURL</param-name>
        <param-value>jdbc:mysql://localhost:3306/humanresourcemanagementsystem</param-value>
        </context-param>
        <context-param>
        <param-name>jdbcUsername</param-name>
        <param-value>root</param-value>
        </context-param>
        <context-param>
        <param-name>jdbcPassword</param-name>
        <param-value>12345678</param-value>
        </context-param> 
        <context-param>
    <param-name>contracttype.directory</param-name>
    <param-value>Contract Type Files</param-value>
  </context-param>
   <context-param>
    <param-name> contract.directory</param-name>
    <param-value>Contract</param-value>
  </context-param>
   <context-param>
    <param-name>adminsignature.directory</param-name>
    <param-value>Administrator's Signature</param-value>
  </context-param>
   <context-param>
    <param-name> staffsignature.directory</param-name>
    <param-value>Staff's Signature</param-value>
  </context-param>
    </web-app>
